version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crudprotec_app
    ports:
      - "8080:8080"
    environment:
      - APP_PORT=8080
      - DB_DIR=/app/data
      - GIN_MODE=release
    restart: unless-stopped

networks:
  default:
    name: crudprotec_network